footer.main-footer
        .footer-content
            .f-item
                a(href='/',class='copyright link')!= 'TRext &copy;2023'
            a(href='/howtouse',class='f-item link') Help
            a(href='/',class='f-item link') Terms
