header
      nav
        .hyperlinks-section
            a.nav-title(href='/')
              strong TRext
            .other-pages
              a(href='/') Home
              a(href='/explore') Explore
        p Expose your text by creating simple &amp; minimal webpage
