.search-options{
	background:none;
	border:0px solid #dadada;
}
.search-section .search-event{
        background:#fff;
	border:1px solid #dadada;
	display:flex;
	align-items:center;
}
.search-section .search-input{
	padding:0.5rem 5px;
	outline:none;
	border:0px solid #000;
	width:100%;
	background:none;
	font-family:sans-serif;
	font-size:20px;
}
.search-section .search-input::placeholder{
	font-size:17px;
}
.search-section .tag-icon{
	font-size:22px;
	padding:0px 0px 0px 10px;
	color:gray;
}
.search-section .search-button{
	background:none;
	border:1px solid #ccc;
	padding:3px 6px;
	margin:0px 6px;
}
.results-criteria{
	max-width:max-content;
	padding:5px;
	border-bottom:0px dashed #000;
}
.results-criteria p{
	padding:3px;
	font-size:14px;
	word-spacing:-3px;
}
