html{
position:relative;
}
footer{
	background:none;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;	
	padding:1rem;
}
.footer-content{
	display:flex;
	justify-content:center;
}
.f-item{
	margin:0px 7px;
}
.footer-content .link{
	color:#151719;
	font-family:sans-serif;
	font-size:15px;
}

