html {
      position: relative;
      min-height: 100%;
    }
footer{
	background:none;
	width:100%;
	position:absolute;
	bottom:0;
	left:0px;	
	padding:1rem;
}
.footer-content{
	display:flex;
	justify-content:center;
	letter-spacing:10px;
}
.f-item{
	margin:0px 7px;
}
.footer-content .link{
	color:#151719;
}
