*{
    Margin:0;
    Padding:0;
    Font-family:monospace;
    box-sizing:border-box;
    Letter-spacing:0.1;
}
Body{
    Background:#F2F4F3;
}
Header{
    max-width:400px;
    margin:0px auto;
}
Header nav{
    Padding:15px;
}
Header nav a{
    Text-decoration:none;
    Font-size:22px;
    Color:#000;
    border-bottom:2px solid #000;    
}
Header nav p{
    Margin:15px 0px 0px 0px;
}
.container{
    Max-width:400px;
    Margin:0px auto;
    Background:none;
    Padding:5px 10px;
}
.upper-section{
    display:flex;
    background:none;
    padding:8px 10px;
    justify-content:space-between;
    align-items:Center;
}
.upper-section .show_mode{
    max-width:max-content;
    color:#444444;
    border-radius:3px;
    font-weight:bold;
}
.upper-section .help-button{
    color:#151719;
    border:1px solid #cbdbf5;
    padding:5px;
    border-radius:3px;
    text-decoration:none;
    background:#edf2fa;
    word-spacing:-4px;
}
.error_message{
    color:red;
    padding:4px 8px;
    border-left:3px solid red;
    border-radius:0px;
    margin:0px 10px;
}
form{
    background:#f8f8f8;
    border-radius:3px;
    border:0px solid #ccc;
    box-shadow:0px 0px 0px #ccc;
    border:1px solid #e1e3e6;
}
.input-group{
    Width:100%;
    Display:block;
    Padding:8px 10px;
    Outline:none;
    Font-family:sans-serif;
   Border:0px solid #444444;
   background:none;
   color:#000;
    
}
.page-title{
    background:none;
    font-weight:bold;
    font-size:19px;
    border-bottom:1px dashed #ccc;
}
.page-title::placeholder{
    font-size:15px;
}
.textbox{
 
    Resize:none;
    border:0px solid #e7e7e7;
    border-bottom:1px dashed #ccc;
}
.button-group{
    border:none;
}
.page-controls section{
    display:flex;
    flex-wrap:wrap;
    padding:6px;
   } 
.page-controls section label{
    flex-basis:100%;
    width:0;
    margin:3px 2px;
}
.page-controls .input-group{
    background:#f5f5f5;
    border:1px solid #ccc;
    border-radius:5px;
    flex-basis:50%;
}
.page-controls .control-buttons{
    background:none;
    width:30%;
    text-decoration:underline;
   } 
  .custom-url-preview{
      margin:10px 0px;
      border:1px solid #ccc;
      width:100%;
      padding:8px 5px;
      border-radius:5px;
      outline:none;
      background:#f5f5f5;
  }
.submit-button{
    padding:8px 0px;
    width:100%;
   font-weight:bold;
}

