*{
    Margin:0;
    Padding:0;
    Font-family:sans-serif;
    box-sizing:border-box;
    Letter-spacing:0.1;
}
Body{
    Background:#F2F4F3;
    padding:0px 10px 50px 10px;
} 
.container{
    Max-width:700px;
    Margin:15px auto;
    Background:none;
    Padding:0px 0px 0px 0px;
    background:#f8f8f8;
    box-shadow:0px 0px 0px #ccc;
    border-radius:3px;
    border:1px solid #e1e3e6;
}
.container header{
    background:#f5f5f5;
    padding:8px 15px;
    border-bottom:1px solid #dadada;
}
header .text_header{
    font-size:22px;
    font-weight:bold;
    margin:3px 0px;
   } 
header .date{
    display:block;
    padding:5px 2px;
    font-size:14px;
    color:gray;
    word-spacing:3px;
}
summary{
	outline:none;
	font-weight:bold;
	margin:5px 0px;
}
.description{
    padding:5px 10px;
    line-height:23px;
    background:none;
    margin:3px 4px;
    border-left:1px solid #444444;
    word-spacing:2px;
}
.text_body{
    min-height:300px;
}
.text_body main{
    padding:0px;
   background:none;
	overflow:hidden;
} 
main pre{
    word-wrap:Break-word;
	white-space: pre-wrap;
	text-indent:0;
}
main pre .raw_text{
	background:red;
}
main pre:not(.heading){
	line-height:22px;
	padding:15px;
}
pre .heading{
	white-space:normal;
	color:#444444;
	line-height:30px;
	margin:3px 0px;
}
pre .mark-text{
	background:#ed9d98;
	padding:1px 2px;
}
pre .h-line{
	border:none;
	border-bottom:1px solid #dadada;
	margin:15px 0px;
	transform:scale(1.1);
}
.container_footer{
    background:#F5F5F5;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px;    
}
.container_footer .app-credits a{
    display:block;
    margin:0px 10px;
    font-size:13px;
    color:gray;
    text-decoration:underline;
}
.container_footer .edit_button,.share_button{
    background:none;
    border:0px solid #ccc;
    margin:0px 10px 0px 0px;
    text-decoration:underline;
    color:#000;
    font-size:15px;

}
