.register
     p.text-bold.uc New to Trext?
     p.text Register
     section
         p.text-bold Steps to create account
         ol.steps
              li Visit TRext
                  a.hyperlink.text-bold(href="https://t.me/trextpages_bot") TELEGRAM BOT
              li After starting the Bot it will display menu to get you started
              li Once registered you can use the provided Login id to Login into Trext.
